# Config, data and log files
src/client/server_list.json
src/server/data
src/server/log.txt
src/server/config.json
src/client/url_cache.json

# Build files
src/client/build
src/client/dist
src/client/whatsapp3.spec

# Python cache files
src/client/__pycache__
src/server/__pycache__